
.table1{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.table1 thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.table1 th,
.table1 td {
    padding: 12px 20px;
}

.table1 tbody td textarea{
    border: none;
    word-wrap: break-word;
    word-break: break-all;
}